#counter {
    display: block;
    text-align: center;
    font-size: 10em;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btnContainer {
    text-align: center;
}

.btn {
    font-size: 30px;
    border-radius: 10px;
    color: white;
    background-color: red;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 20px;
    margin-right: 20px;
}

.btn:hover {
    background-color: rgb(111, 33, 2);
    scale: 1.1;
}