body {
    background-color: hsl(0, 4%, 90%);
    /* position: relative; */
}

h1 {
    color: hsl(0, 4%, 20%);
    font-size: 2em;
}

.container {
    /* position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 350px;
    /* height: 300px; */
    margin: auto;
    border-radius: 20px;
    padding: 10px;
}

#input {
    margin-bottom: 10px;
    font-size: 1.5em;
    border: 1px solid hsl(0, 4%, 20%);
    text-align: center;
    border-radius: 10px;
}

label {
    font-weight: bold;
    font-size: 1.5em;
}

#sml {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}

#btn {
    font-size: 1.5em;
    background-color: hsl(0, 4%, 20%);
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

#btn:hover {
    background-color: hsl(0, 4%, 30%);
}